.tag {
  color: #000;
  font-family: Ubuntu;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 3rem 0 3rem 32rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
  border-bottom: 1px solid rgba(91, 155, 62, 0.5);
}
.overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgba(91, 155, 62, 0.5);
  margin: 15px;
}
.item span {
  color: #155e1e;
  font-family: Ubuntu;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.item p {
  color: #000;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 500px;
}

.ellipseImage {
  width: 430px;
  height: 430px;
  background-color: #abd373; /* Set the desired background color */
  border-radius: 50%;
  margin-top: 4.5rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
@media (max-width: 990px) {
  .tag {
    font-size: 25px;
    margin-left: 19rem;
  }
  .item span{
    font-size: 30px;
  }
  .item p{
    font-size: 12px;
  }
  .image{
    width: 300px;
    height: 350px;
  }
  .ellipseImage{
    width: 280px;
    height: 280px;
  }
}
@media(max-width:550px){
  .item span{
    font-size: 20px;
  }
  .item p{
    font-size: 8px;
  }
  .image{
    width: 270px;
    height: 300px;
  }
  .ellipseImage{
    width: 230px;
    height: 230px;
  }
  .tag{
    font-size: 15px;
    margin-left: 40%;
  }
  .container{
    flex-direction: column;
  }
}