.cart {
    /* max-width: 30rem; */
    background-color: #313131;
    color: white;
    margin: 1rem auto;
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
left: 27%;
top: 17%;
  }
  .container{
    position: relative;
    width: 100%;
    height: 784px;
    background: linear-gradient(0, #eee 0%, rgba(217, 217, 217, 0) 100%)
  }
  
  .cart h2 {
    font-size: 2.25rem;
    margin: 0.5rem 0;
    color: #000;
    font-family: Ubuntu;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  @media (max-width:990px){
.cart{
  left: 8%;
}
.cart h2{
  font-size: 25px;
}
  }