.card {

cursor: pointer;
  width: 300px;
  height: 264px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  /* background-color: aquamarine; */
  
}
.box_shadow {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}
.showDetails {
  border-radius: 30px;
  background: rgba(152, 195, 71, 0.2);
}

.container {
  border-radius: 30px;
  /* background: #fff; */
  width: 100%;
  height: 137px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  position: absolute;
  bottom: 3.5rem;
  background: center/cover no-repeat;
}
.name {
  color: #000;
  font-family: Ubuntu;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 259.259% */
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
}
@media (max-width:990px){
.card{
  width: 30%;
  height: 164px;
}
.container{
  height: 75px;
}
.name{
  font-size: 90%;
  line-height: 50px;
}
.container img{
  bottom: 2.5rem;
  width: 50%;
}
}
@media(max-width:550px){
  .card{
    width: 38%;
  }
}