.navbar1 {
  border-radius: 50px;
  background: #ececec;

  backdrop-filter: blur(26.5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 65px 0 65px;
  height: 70px;
  padding: 20px 20px 20px 50px;
  position: absolute;
  width: 76rem;
}
.navbar2{
  border-radius: 50px;
  background: #ffffff;

  backdrop-filter: blur(26.5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 65px 0 65px;
  height: 70px;
  padding: 20px 20px 20px 50px;
  position: absolute;
  width: 76rem;
}
.logo1 {
  width: 100%;
  height: 100;
  background: url("../../../public/image/green-logos-famous-brands-1\ 1.jpg")
    lightgray -162.146px -59.671px / 187.364% 265.068% no-repeat;
  width: 163px;
  height: 46px;
  background-size: cover;
  background-position: center;
}
.logo2{
  width: 100%;
  height: 100;
  background: url("../../../public/image/newfooter.png")
    lightgray -162.146px -59.671px / 187.364% 265.068% no-repeat;
  width: 227px;
  height: 46px;
  background-size: cover;
  background-position: center;
  /* mix-blend-mode: color-burn; */
}
.navlink {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.navlink ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.navlink ul li a{
  color: #000;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.navlink ul li a:hover{
    font-weight: bold;
    /* text-decoration: underline; */
}
.icons{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000;
}
.icons a{
  color: #000;
}
.icons a:hover{
  color: #4caf50;
}