.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 365px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.showDetails {
  border-radius: 15px;
  background: #f0f0f0;

  /* height: 350px; */
  /* transform: scaleY(1.1) */
}
.box_shadow {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
}
.image_container {
  border-radius: 15px;
  background: #f0f0f0;
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); */
}
.img img {
  width: 150px;
  height: 180px;
  margin-bottom: 10px;
  background-position: center;
}
.info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15px;
}
.info span {
  color: #000;
  font-family: Ubuntu;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.heart {
  padding-left: 130px;
  padding-top: 10px;
}
.addToCart {
  margin-top: 10px;
  padding: 8px 20px; 
  border-radius: 50px;
  background-color: #4caf50; /* Green color */
  color: #fff;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 16px;
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
}
.overlay button {
  margin-left: 25px;
}
.overlay span {
  font-weight: bold;
}
@media (max-width:768px){
.card{
  width: 22%;
  height: 265px;
}
.image_container{
  height: 150px;
}
.img img{
  width: 85%;
  height: 110px;
}
.info span{
  font-size: 10px;
  line-height: 25px;
}
.heart{
  padding-left: 80%;
}
.addToCart{
  width: 80%;
  height:30%;
  padding:3px 8px;
  margin-left: 4%!important;
  font-size: 55%;

}
.overlay span{
  font-size: 80%;
}
}