.login {
  width: 100%;
  height: 784px;
  background: linear-gradient(0, #eee 0%, rgba(217, 217, 217, 0) 8%),
    url("../../../public/image/frame.png"), lightgray 50% / cover no-repeat;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.loginpage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 16rem;
  left: 6rem;
  gap: 1rem;
}
.title {
  color: #000;
  font-family: Ubuntu;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 127.273% */
  text-transform: capitalize;
}
.text{
    color: #000;
font-family: Ubuntu;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form form{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 335px;
}
.form input {
  border-radius: 10px;
  border: 1px solid #000;
  width: 63px;
  height: 63px;
  background: rgba(117, 117, 117, 0.11);
  color: rgba(0, 0, 0, 0.8);
  font-family: Ubuntu;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  padding-left: 2rem;
  margin-bottom: 25px;
}

.verify{
    color: #000;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 15%;
}
.verify span{
    color: #0045A3;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
}
.button button {
  margin-top: 24px;
  border-radius: 55px;
  background: #5b9b3e;
  width: 335px;
  height: 55px;
  flex-shrink: 0;
}
.gradient {
  background: linear-gradient(180deg, #ededed 0%, rgba(217, 217, 217, 0) 100%);
  width: 100%;
  height: 236px;
}
@media (max-width:990px){
.title{
  font-size: 26px;
  line-height: 50px;
}
.loginpage{
  width: 50%;
}
.text{
  font-size: 9px;
}.form{
  width: 85%;
}
.form form{
  width: 100%;
}
.form input{
  width: 50px;
  height: 50px;
  font-size: 20px;
  padding-left: 1rem;
}
.verify{
  font-size: 10px;

}
.verify span{
  font-size: 11px;
}
.button{
  width: 85%;
}
.button button{
  width: 100%;
  height: 45px;
}
}
@media(max-width:550px){
  .loginpage{
    left: 2rem;
  }
  .text{
    font-size: 8px;
  }
  .title{
    font-size: 24px;
  }
  .form{
    width: 100%;
  }
  .form input{
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .button button{
    height: 35px;
  }
}